@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<current-time></current-time>
</div>
<div ng-controller="PostListCtrl" class="row">
	<div class="col-md-12">
		<h2>Latest posts</h2>
		<ul class="comment-list">
			<li ng-repeat="post in posts">
				<article>
					<span><time>{{ post.datePosted }}</time></span>
					<h3>{{ post.title }}</h3>
					<section class="post-content">{{ post.bodyText }}</section>
				</article>
			</li>
		</ul>
	</div>
</div>
