
<div class="row">
	<div class="twelve columns">
		<h4>Post Archive</h4>
		<ul id="postList" class="post-list"></ul>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#postList").LoadPosts();
	});
</script>