
<div class="row">
	<form id="newPostForm">
		<label for="title">Title</label>
		<input type="text" id="title" name="title" class="u-full-width" placeholder="A long time ago," />
		<label for="body">Body</label>
		<textarea id="body" name="body" class="u-full-width" placeholder="in a galaxy far far away…"></textarea>
		<input id="btnPublish" class="button-primary" type="submit" value="Publish">
	</form>
</div>
