
<div class="row">
	<form>
		<label for="exampleMessage">New post</label>
		<textarea class="u-full-width" placeholder="A long time ago, in a galaxy far far away…" id="exampleMessage"></textarea>
		<input class="button-primary" type="submit" value="Publish">
	</form>
</div>
