
<div class="row">
	<form>
		<label for="email">Email</label>
		<input type="email" id="email" name="email" />
		<label for="password">Password</label>
		<input type="password" id="password" name="password" />
		<div>
			<input id="btnRegister" class="button-primary" type="submit" value="Register">
		</div>
	</form>
</div>